/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Fredoka', sans-serif;
    
}

.container {
    width:80%;
    margin: auto;
    text-align: center;
}

/* MAIN */

/* TITLE */
h1 {
    
    padding: 30px 0;
    color: #e53170;
    font-size: 3rem;
}

/* PARAGRAPH */
p {
    padding-bottom: 30px;
    font-size: 1.2rem;
}

/* PROFILE-DIV */



.profile {
    border: 2px solid white;
    width: calc(100% / 3);
    float: left;
    padding:20px;
}


img {
width:100px;
float:left;
margin-right: 20px;
}

.card {
    background-color: #0f0e17;
    color: white;
    text-align: left;
    line-height: 25px;
    border-radius: 4px;
}

.clearfix::after {
    content: "";
    display: table;
    clear:both;
}

h3 {
    padding-top:10px;
}

.email {
    color: rgb(78, 183, 218);
}

