/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Fredoka', sans-serif;
    
}

.container {
    width:80%;
    margin: auto;
    text-align: center;
}

/* MAIN */

/* TITLE */
h1 {
    
    padding: 1.9rem 0;
    color: #e53170;
    font-size: 3rem;
}

/* PARAGRAPH */
.main-paragraph {
    padding-bottom: 1.9rem;
    font-size: 1.2rem;
}



/* PROFILE-DIV */

.profile {
    border: 0.125rem solid white;
    width: calc(100% / 3);
    float: left;
    padding:1.25rem;
}


img {
    width:6.25rem;
    float:left;
    margin-right: 1.25rem;
}

.card {
    background-color: #0f0e17;
    color: white;
    text-align: left;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.63rem rgba(1, 1, 1, 0.5); 
}


.clearfix::after {
    content: "";
    display: table;
    clear:both;
}

h3 {
    padding-top:0.63rem;
}

.email {
    color: rgb(78, 183, 218);
}

